notebook's summary:
- feature selection based on information value and chi-squared test
- handling highly correlated features

In [1]:
# load packages
import pandas as pd
import numpy as np

from sklearn.feature_selection import mutual_info_classif
from sklearn.feature_selection import chi2
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split

# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
# pd.options.display.float_format = '{:.3f}'.format

In [2]:
# load train-test set
train_test = pd.read_csv("../datasets/raw/applications_train_test_set.csv")
raw_train_test = train_test.copy()

# display
display(raw_train_test.shape, raw_train_test.head(3))

(24004, 178)

,id,credit_event,name_contract_type,flag_own_car,flag_own_realty,cnt_children,amt_income_total,amt_credit,amt_annuity,amt_goods_price,...,prev_rate_interest_privileged_avg,prev_days_decision_avg,prev_name_payment_type_count,prev_cnt_payment_sum,prev_days_first_drawing_avg,prev_days_first_due_avg,prev_days_last_due_1st_version_avg,prev_days_last_due_avg,prev_days_termination_avg,prev_nflag_insured_on_approval_avg
0,288213,0,Cash loans,False,False,0,225000.0,953460.0,62703.0,900000.0,...,NaN,933.666667,3.0,12.0,365243.0,-1326.000000,-1176.000000,-1176.000000,-1170.000000,0.000000
1,400317,0,Cash loans,False,True,0,90000.0,284400.0,16011.0,225000.0,...,NaN,1095.555556,9.0,118.0,365243.0,39646.888889,40013.555556,80502.333333,80507.222222,0.444444
2,191384,0,Cash loans,False,True,0,180000.0,454500.0,15151.5,454500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# set features, exclude id and target column
# id just an identifier and holds predictive power
# credit_event is removed to prevent leak target informationto the model
features = raw_train_test.drop(['credit_event', 'id'], axis=1)

# binning continuous features
# binning is used to transform continuous or categorical variables with many unique values into a smaller bins
# this can help to simplify the model, improve its performance on unseen data by reducing overfitting and enhance interpretability
# the choice number of bins could be based on domain knowledge, experimentation, or a balance between retaining information and reducing complexity
for feature in features:
    if raw_train_test[feature].dtype.kind in 'ifc':
        if len(raw_train_test[feature].value_counts()) > 6: 
            raw_train_test[feature] = pd.cut(raw_train_test[feature], 6)

display(features.shape, features.head(3))

(24004, 176)

,name_contract_type,flag_own_car,flag_own_realty,cnt_children,amt_income_total,amt_credit,amt_annuity,amt_goods_price,name_type_suite,name_income_type,...,prev_rate_interest_privileged_avg,prev_days_decision_avg,prev_name_payment_type_count,prev_cnt_payment_sum,prev_days_first_drawing_avg,prev_days_first_due_avg,prev_days_last_due_1st_version_avg,prev_days_last_due_avg,prev_days_termination_avg,prev_nflag_insured_on_approval_avg
0,Cash loans,False,False,0,225000.0,953460.0,62703.0,900000.0,Unaccompanied,Commercial associate,...,NaN,933.666667,3.0,12.0,365243.0,-1326.000000,-1176.000000,-1176.000000,-1170.000000,0.000000
1,Cash loans,False,True,0,90000.0,284400.0,16011.0,225000.0,"Spouse, partner",Pensioner,...,NaN,1095.555556,9.0,118.0,365243.0,39646.888889,40013.555556,80502.333333,80507.222222,0.444444
2,Cash loans,False,True,0,180000.0,454500.0,15151.5,454500.0,Unaccompanied,Pensioner,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# display
display(raw_train_test.shape, raw_train_test.head(3))

(24004, 178)

,id,credit_event,name_contract_type,flag_own_car,flag_own_realty,cnt_children,amt_income_total,amt_credit,amt_annuity,amt_goods_price,...,prev_rate_interest_privileged_avg,prev_days_decision_avg,prev_name_payment_type_count,prev_cnt_payment_sum,prev_days_first_drawing_avg,prev_days_first_due_avg,prev_days_last_due_1st_version_avg,prev_days_last_due_avg,prev_days_termination_avg,prev_nflag_insured_on_approval_avg
0,288213,0,Cash loans,False,False,"(-0.011, 1.833]","(22076.55, 772125.0]","(600000.0, 1155000.0]","(39412.5, 76530.0]","(600000.0, 1155000.0]",...,NaN,"(490.333, 976.667]","(0.94, 11.0]","(-1.434, 239.0]","(303883.667, 365243.0]","(-3257.132, 58466.333]","(-3153.028, 58553.0]","(-3234.109, 58485.5]","(-3143.018, 58561.333]","(-0.001, 0.167]"
1,400317,0,Cash loans,False,True,"(-0.011, 1.833]","(22076.55, 772125.0]","(41670.0, 600000.0]","(2072.295, 39412.5]","(41670.0, 600000.0]",...,NaN,"(976.667, 1463.0]","(0.94, 11.0]","(-1.434, 239.0]","(303883.667, 365243.0]","(-3257.132, 58466.333]","(-3153.028, 58553.0]","(58485.5, 119837.0]","(58561.333, 119897.667]","(0.333, 0.5]"
2,191384,0,Cash loans,False,True,"(-0.011, 1.833]","(22076.55, 772125.0]","(41670.0, 600000.0]","(2072.295, 39412.5]","(41670.0, 600000.0]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# preparing the target variable
Y = np.ravel(np.array(raw_train_test[['credit_event']])) # extract target, convert into a flat 1D array
X = np.array(raw_train_test.drop(['credit_event', 'id'], axis=1)) # extract features, convert into a flat 1D array

print(Y, X)

[0 0 0 ... 0 0 0] [['Cash loans' False False ...
  Interval(-3234.109, 58485.5, closed='right')
  Interval(-3143.018, 58561.333, closed='right')
  Interval(-0.001, 0.167, closed='right')]
 ['Cash loans' False True ... Interval(58485.5, 119837.0, closed='right')
  Interval(58561.333, 119897.667, closed='right')
  Interval(0.333, 0.5, closed='right')]
 ['Cash loans' False True ... nan nan nan]
 ...
 ['Revolving loans' True False ...
  Interval(181188.5, 242540.0, closed='right')
  Interval(181234.0, 242570.333, closed='right')
  Interval(0.167, 0.333, closed='right')]
 ['Cash loans' False True ...
  Interval(181188.5, 242540.0, closed='right')
  Interval(181234.0, 242570.333, closed='right')
  Interval(0.333, 0.5, closed='right')]
 ['Cash loans' False False ... nan nan nan]]

In [6]:
def information_value(X, Y):
    """
    Calculate the Information Value (IV) of a feature (X) with respect to a binary target variable (Y).
    IV is a measure of the predictive power of an independent variable in relation to the dependent variable.
    This function aggregates the data by the unique values of X, calculates the distribution of 'goods' and 'bads',
    and computes the Weight of Evidence (WoE) and IV for each grouping. The total IV for the feature is then
    calculated as the sum of IVs across all groups, providing a single metric to quantify its predictive power.

    Parameters:
    - X (array-like): Feature array. Can be a list, numpy array, or a pandas Series. If X is multidimensional,
                      it will be flattened.
    - Y (array-like): Target variable array. Must be binary (0 and 1), where 1 typically represents the
                      presence of the event of interest (e.g., default on a loan).

    Returns:
    - float: The Information Value (IV) of the feature. Higher IV values indicate stronger predictive power.
             IV values are generally interpreted as follows:
                < 0.02: Not useful for prediction
                0.02 to 0.1: Weak predictor
                0.1 to 0.3: Medium predictor
                0.3 to 0.5: Strong predictor
                > 0.5: Suspect or too good to be true

    """
    df = pd.DataFrame({'X': np.ravel(X), 'Y': Y})
    d = df.groupby("X", as_index=False).agg({"Y": ["count", "sum"]})
    d.columns = ['X', 'N', 'bads']
    d['bads_distribution'] = np.maximum(d['bads'], 0.5) / d['bads'].sum()
    d['goods'] = d['N'] - d['bads']
    d['goods_distribution'] = np.maximum(d['goods'], 0.5) / d['goods'].sum()
    d['woe'] = np.log(d['goods_distribution']/d['bads_distribution'])
    d['iv'] = d['woe'] * (d['goods_distribution']-d['bads_distribution'])
    return d['iv'].sum()

In [7]:
# init empty list
score_list = []
oe = OrdinalEncoder()

# loop over features
for i, feature in enumerate(features):
    X_feature = X[:, i].astype(str).reshape(-1, 1) # transformed into a string and reshape to fit
    oe.fit(X_feature) # fitted to the reshaped feature
    X_enc = oe.transform(X_feature) # transform feature and apply the mapping to produce the encoded feature
    iv = information_value(X=X_enc, Y=Y) # calculate information value, assess predictive power of the feature regarding the target
    chi = chi2(X=X_enc, y=Y) # perform chi-squared test on encoded features against the target variable
    score_list.append({"feature": feature, "information_value": iv, "chi2_pvalue": chi[1][0]}) # append result to list

scores = pd.DataFrame(score_list) # build the dataframe

# display result
display(scores.shape, scores)

(176, 3)

                                feature  information_value   chi2_pvalue
0                    name_contract_type           0.026589  4.377965e-09
1                          flag_own_car           0.010849  4.470969e-04
2                       flag_own_realty           0.000016  9.265264e-01
3                          cnt_children           0.013934  1.414532e-05
4                      amt_income_total           0.001152  9.243649e-01
..                                  ...                ...           ...
171             prev_days_first_due_avg           0.016740  8.703287e-20
172  prev_days_last_due_1st_version_avg           0.022134  1.290195e-01
173              prev_days_last_due_avg           0.026089  5.510357e-03
174           prev_days_termination_avg           0.024996  1.768974e-03
175  prev_nflag_insured_on_approval_avg           0.016679  4.535336e-08

[176 rows x 3 columns]

In [8]:
# create new columns with threshold values
scores['information_value_threshold'] = 0.02 # lower limit for a feature to have any predictive value
scores['chi2_pvalue_threshold'] = 0.05 # common p-value threshold in statistical hypothesis testing. features with a p-value higher than this fail to reject the null hypothesis of independence from the target variable.

# check the results
scores.head(10)

,feature,information_value,chi2_pvalue,information_value_threshold,chi2_pvalue_threshold
0,name_contract_type,0.026589,4.377965e-09,0.02,0.05
1,flag_own_car,0.010849,4.470969e-04,0.02,0.05
2,flag_own_realty,0.000016,9.265264e-01,0.02,0.05
3,cnt_children,0.013934,1.414532e-05,0.02,0.05
4,amt_income_total,0.001152,9.243649e-01,0.02,0.05
5,amt_credit,0.026132,3.119011e-03,0.02,0.05
6,amt_annuity,0.011284,2.796677e-01,0.02,0.05
7,amt_goods_price,0.033593,1.326699e-01,0.02,0.05
8,name_type_suite,0.003627,1.190774e-01,0.02,0.05
9,name_income_type,0.053258,6.555411e-22,0.02,0.05

In [9]:
# filter features that have significant predictive power and statistically significant association with the target variable
filtered_features = scores[(scores["information_value"] > scores["information_value_threshold"]) & 
                           (scores["chi2_pvalue"] < scores["chi2_pvalue_threshold"])].reset_index(drop=True)

# display
display(filtered_features.shape, filtered_features.head())

(60, 5)

,feature,information_value,chi2_pvalue,information_value_threshold,chi2_pvalue_threshold
0,name_contract_type,0.026589,4.377965e-09,0.02,0.05
1,amt_credit,0.026132,3.119011e-03,0.02,0.05
2,name_income_type,0.053258,6.555411e-22,0.02,0.05
3,name_education_type,0.056981,2.162986e-11,0.02,0.05
4,region_population_relative,0.036178,1.280246e-04,0.02,0.05

In [10]:
# select columns that passed the filtering based IV and chi-sqaured p-value
# update by add id and credit event
kept_columns = list(filtered_features["feature"])
kept_columns.insert(0, "id")
kept_columns.insert(1, "credit_event")

application_initial_filter = train_test[kept_columns]

# display results
display(application_initial_filter.shape, application_initial_filter.head(10))

(24004, 62)

,id,credit_event,name_contract_type,amt_credit,name_income_type,name_education_type,region_population_relative,days_employed,days_registration,days_id_publish,...,amt_req_credit_bureau_year,sk_id_prev_count,amt_credit_sum_overdue_sum,amt_drawings_atm_current_avg_avg,cnt_drawings_atm_current_avg_avg,cnt_drawings_pos_current_avg_avg,prev_days_decision_avg,prev_days_first_drawing_avg,prev_days_last_due_avg,prev_days_termination_avg
0,288213,0,Cash loans,953460.0,Commercial associate,Secondary / secondary special,0.046220,116,4106.0,912,...,0.0,14.0,0.0,NaN,NaN,NaN,933.666667,365243.000000,-1176.000000,-1170.000000
1,400317,0,Cash loans,284400.0,Pensioner,Secondary / secondary special,0.007020,-365243,13237.0,3346,...,5.0,96.0,NaN,NaN,NaN,NaN,1095.555556,365243.000000,80502.333333,80507.222222
2,191384,0,Cash loans,454500.0,Pensioner,Secondary / secondary special,0.046220,-365243,425.0,1622,...,1.0,3.0,0.0,4809.375000,0.312500,0.000000,NaN,NaN,NaN,NaN
3,412414,0,Cash loans,900000.0,Working,Secondary / secondary special,0.010276,896,776.0,2544,...,2.0,35.0,0.0,NaN,NaN,NaN,1382.000000,365243.000000,-1195.500000,-874.500000
4,429870,1,Cash loans,254700.0,Commercial associate,Secondary / secondary special,0.025164,1224,3112.0,201,...,0.0,10.0,0.0,NaN,NaN,NaN,169.250000,365243.000000,365243.000000,365243.000000
5,207421,0,Cash loans,417024.0,Commercial associate,Higher education,0.031329,1683,5454.0,1563,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,231340,0,Revolving loans,247500.0,Working,Higher education,0.006671,79,1076.0,263,...,3.0,10.0,0.0,NaN,NaN,NaN,398.000000,365243.000000,-271.000000,-266.000000
7,233359,0,Cash loans,675000.0,Working,Secondary / secondary special,0.028663,4216,7978.0,409,...,1.0,36.0,0.0,2050.862069,0.425287,0.011494,2781.333333,242629.666667,-2023.666667,-1631.000000
8,363256,0,Revolving loans,540000.0,Commercial associate,Secondary / secondary special,0.046220,4809,4253.0,4362,...,1.0,37.0,0.0,NaN,NaN,NaN,1011.333333,365243.000000,121092.666667,121097.333333
9,360287,1,Cash loans,755190.0,Working,Higher education,0.031329,5544,1471.0,2370,...,3.0,30.0,0.0,NaN,NaN,NaN,630.600000,365243.000000,-972.000000,-965.000000

In [11]:
# create a dict that mapping feature and their IV
ivs = dict()
for i, row in filtered_features.iterrows():
    ivs[row["feature"]] = row["information_value"]

# display result
ivs

{'name_contract_type': 0.02658910337098841,
 'amt_credit': 0.02613212333721668,
 'name_income_type': 0.053258430146912006,
 'name_education_type': 0.05698126089959049,
 'region_population_relative': 0.0361779907338901,
 'days_employed': 0.03015392489076214,
 'days_registration': 0.033104228914476605,
 'days_id_publish': 0.040435410047729305,
 'own_car_age': 0.028289590889949714,
 'flag_emp_phone': 0.03015392489076214,
 'occupation_type': 0.09510520551929101,
 'region_rating_client': 0.055933235134114634,
 'region_rating_client_w_city': 0.05578738945448686,
 'reg_city_not_live_city': 0.025159863377590026,
 'reg_city_not_work_city': 0.04149190594329766,
 'organization_type': 0.09301232681233113,
 'ext_source_1': 0.11990883021514571,
 'ext_source_2': 0.3167334622798213,
 'ext_source_3': 0.37744926770953846,
 'apartments_avg': 0.028480942352783457,
 'basementarea_avg': 0.024410229837682484,
 'elevators_avg': 0.027361265216298964,
 'entrances_avg': 0.03111823424785643,
 'floorsmax_avg': 0.04102920533300762,
 'livingarea_avg': 0.027992940797052304,
 'nonlivingarea_avg': 0.026970109354304016,
 'apartments_mode': 0.02801203620968604,
 'basementarea_mode': 0.024534700431134718,
 'years_beginexpluatation_mode': 0.024287913756488706,
 'elevators_mode': 0.027692006885739324,
 'entrances_mode': 0.03082120946869096,
 'floorsmax_mode': 0.0438880323584568,
 'livingarea_mode': 0.025875780883611442,
 'nonlivingarea_mode': 0.026226943900048826,
 'apartments_medi': 0.02861433972215731,
 'basementarea_medi': 0.024268565314850252,
 'elevators_medi': 0.027186845153075262,
 'entrances_medi': 0.031135976047847125,
 'floorsmax_medi': 0.04152185900459594,
 'livingarea_medi': 0.027346136124884277,
 'nonlivingarea_medi': 0.026751538768041816,
 'housetype_mode': 0.02607895526812968,
 'totalarea_mode': 0.03027299069280548,
 'wallsmaterial_mode': 0.028176864851638617,
 'emergencystate_mode': 0.02664379080803317,
 'days_last_phone_change': 0.05478578305046819,
 'flag_document_3': 0.027171830618750826,
 'amt_req_credit_bureau_day': 0.020630771072977977,
 'amt_req_credit_bureau_week': 0.02078571328158778,
 'amt_req_credit_bureau_mon': 0.022251921946330418,
 'amt_req_credit_bureau_year': 0.023158560858656488,
 'sk_id_prev_count': 0.022675618097950483,
 'amt_credit_sum_overdue_sum': 0.020204653778932304,
 'amt_drawings_atm_current_avg_avg': 0.020674254995198784,
 'cnt_drawings_atm_current_avg_avg': 0.028138988791039557,
 'cnt_drawings_pos_current_avg_avg': 0.024745198776873173,
 'prev_days_decision_avg': 0.043013382621807546,
 'prev_days_first_drawing_avg': 0.039279416063104505,
 'prev_days_last_due_avg': 0.02608932372875456,
 'prev_days_termination_avg': 0.024996364491126667}

In [12]:
# create a new df, isolates the features by drop target and id 
application_features_initial = application_initial_filter.drop(["credit_event", "id"], axis=1)
application_features_initial.head()

,name_contract_type,amt_credit,name_income_type,name_education_type,region_population_relative,days_employed,days_registration,days_id_publish,own_car_age,flag_emp_phone,...,amt_req_credit_bureau_year,sk_id_prev_count,amt_credit_sum_overdue_sum,amt_drawings_atm_current_avg_avg,cnt_drawings_atm_current_avg_avg,cnt_drawings_pos_current_avg_avg,prev_days_decision_avg,prev_days_first_drawing_avg,prev_days_last_due_avg,prev_days_termination_avg
0,Cash loans,953460.0,Commercial associate,Secondary / secondary special,0.046220,116,4106.0,912,NaN,1,...,0.0,14.0,0.0,NaN,NaN,NaN,933.666667,365243.0,-1176.000000,-1170.000000
1,Cash loans,284400.0,Pensioner,Secondary / secondary special,0.007020,-365243,13237.0,3346,NaN,0,...,5.0,96.0,NaN,NaN,NaN,NaN,1095.555556,365243.0,80502.333333,80507.222222
2,Cash loans,454500.0,Pensioner,Secondary / secondary special,0.046220,-365243,425.0,1622,NaN,0,...,1.0,3.0,0.0,4809.375,0.3125,0.0,NaN,NaN,NaN,NaN
3,Cash loans,900000.0,Working,Secondary / secondary special,0.010276,896,776.0,2544,26.0,1,...,2.0,35.0,0.0,NaN,NaN,NaN,1382.000000,365243.0,-1195.500000,-874.500000
4,Cash loans,254700.0,Commercial associate,Secondary / secondary special,0.025164,1224,3112.0,201,NaN,1,...,0.0,10.0,0.0,NaN,NaN,NaN,169.250000,365243.0,365243.000000,365243.000000

In [13]:
# # extract initial features
# application_features_initial = application_initial_filter.drop(["credit_event", "id"], axis=1)

# # identify categorical variables
# cat_cols = application_features_initial.select_dtypes(include=["object"]).columns

# # apply ordinalencoding
# # fit and transform categorical columns and replace it in the dataframe
# # actually di project dataikunya categorical columns itu mereka drop, tapi disini mau experiment instead jadi coba kita include dengan cara convert dengan encoder
# oe = OrdinalEncoder()
# application_features_initial[cat_cols] = oe.fit_transform(application_features_initial[cat_cols])

# # calculate spearman correlation matrix
# correlation_matrix = application_features_initial.corr(method="spearman")

# # display result
# display(correlation_matrix.shape, correlation_matrix)

In [14]:
# identify categorical features
# keep only numerical features for correlation analysis
cat_cols = application_features_initial.select_dtypes(include=["object"]).columns
application_features_initial = application_features_initial.drop(cat_cols, axis=1)

# calculate spearman correlation coefficient for all pairs features
# we chose spearman's method since it can capture monotonic relationship between features
# and also it's more appropriate for ordinal data or data not meeting normal distribution assumptions
correlation_matrix = application_features_initial.corr(method="spearman")

# display result
display(correlation_matrix.shape, correlation_matrix)

(52, 52)

,amt_credit,region_population_relative,days_employed,days_registration,days_id_publish,own_car_age,flag_emp_phone,region_rating_client,region_rating_client_w_city,reg_city_not_live_city,...,amt_req_credit_bureau_year,sk_id_prev_count,amt_credit_sum_overdue_sum,amt_drawings_atm_current_avg_avg,cnt_drawings_atm_current_avg_avg,cnt_drawings_pos_current_avg_avg,prev_days_decision_avg,prev_days_first_drawing_avg,prev_days_last_due_avg,prev_days_termination_avg
amt_credit,1.000000,0.052875,0.117695,-0.007268,0.001813,-0.122739,0.072391,-0.085607,-0.093278,-0.023290,...,-0.038963,0.041601,-0.010043,-0.035762,-0.089573,-0.030961,0.094420,-0.047868,-0.095807,-0.084267
region_population_relative,0.052875,1.000000,0.006838,0.037532,0.014114,-0.129361,0.002901,-0.431500,-0.440724,-0.048198,...,0.008665,0.039775,-0.006726,-0.025391,-0.038781,-0.030273,0.060199,-0.006640,-0.032844,-0.032631
days_employed,0.117695,0.006838,1.000000,-0.036705,-0.115309,-0.040561,0.667398,-0.012205,-0.016254,-0.031430,...,-0.011139,0.039325,0.005121,-0.030921,-0.030179,-0.032775,0.106152,-0.038205,-0.064111,-0.055784
days_registration,-0.007268,0.037532,-0.036705,1.000000,0.096240,0.021340,-0.174074,-0.078175,-0.075387,-0.054797,...,0.009038,0.054560,-0.004932,-0.014965,-0.013628,-0.104054,0.064345,0.011963,0.004818,0.003694
days_id_publish,0.001813,0.014114,-0.115309,0.096240,1.000000,-0.006372,-0.279055,0.011111,0.012231,-0.076901,...,0.043121,0.091854,-0.003519,-0.038121,-0.038340,-0.132396,0.097782,0.020484,-0.048576,-0.038591
own_car_age,-0.122739,-0.129361,-0.040561,0.021340,-0.006372,1.000000,-0.035415,0.168945,0.169756,0.013337,...,0.013875,0.008394,0.018102,0.010357,0.032044,-0.096581,0.036131,-0.007887,-0.020093,-0.010942
flag_emp_phone,0.072391,0.002901,0.667398,-0.174074,-0.279055,-0.035415,1.000000,-0.027647,-0.028595,0.092992,...,-0.045131,-0.065362,0.007598,0.008353,0.020702,0.136163,0.010728,-0.047803,-0.039708,-0.035537
region_rating_client,-0.085607,-0.431500,-0.012205,-0.078175,0.011111,0.168945,-0.027647,1.000000,0.949763,0.029928,...,0.009635,0.010156,0.011722,-0.005878,0.008881,0.016453,-0.022617,0.018976,0.019408,0.018411
region_rating_client_w_city,-0.093278,-0.440724,-0.016254,-0.075387,0.012231,0.169756,-0.028595,0.949763,1.000000,0.039574,...,0.008453,0.007481,0.013565,-0.003302,0.013613,0.012269,-0.023591,0.017052,0.020509,0.020130
reg_city_not_live_city,-0.023290,-0.048198,-0.031430,-0.054797,-0.076901,0.013337,0.092992,0.029928,0.039574,1.000000,...,0.003820,-0.046387,-0.003802,0.001571,0.007898,0.085859,-0.049187,-0.010067,0.007670,0.008742
reg_city_not_work_city,-0.006806,-0.031576,0.080286,-0.074828,-0.100879,0.029634,0.258214,0.010201,0.028556,0.435717,...,-0.017727,-0.046081,0.003867,0.016729,0.025359,0.020323,-0.019301,0.001533,-0.018536,-0.015276
ext_source_1,0.178845,0.091051,0.034099,0.152963,0.128227,-0.134120,-0.264337,-0.102772,-0.104823,-0.148605,...,0.018981,0.083229,-0.009885,-0.037894,-0.103954,-0.164928,0.082328,0.001098,-0.003371,0.003184
ext_source_2,0.118380,0.192052,0.087930,0.065457,0.064063,-0.120832,0.022881,-0.326874,-0.323342,-0.048566,...,-0.019408,0.014987,-0.010183,-0.019947,-0.066454,-0.054825,0.052170,0.010786,-0.040923,-0.040318
ext_source_3,0.022254,-0.002507,0.021790,0.090765,0.123439,0.041148,-0.107776,-0.009992,-0.009127,-0.078296,...,-0.056290,0.048824,-0.127034,-0.088208,-0.128415,-0.147645,0.143069,0.074345,-0.034030,-0.030082
apartments_avg,0.051937,0.148512,0.006380,0.002827,0.013576,-0.074050,0.011879,-0.130985,-0.154556,-0.054236,...,-0.003265,-0.006929,-0.010572,-0.020108,-0.033660,0.049169,0.003495,-0.020161,-0.007097,-0.006918
basementarea_avg,0.046340,0.073678,0.004751,0.041457,0.024106,-0.026696,0.002224,-0.061096,-0.074789,-0.017218,...,-0.011600,-0.002651,-0.020015,-0.026913,-0.035319,0.023597,0.005049,-0.005274,-0.008877,-0.011211
elevators_avg,0.070723,0.189129,-0.005474,-0.002364,0.020610,-0.078605,0.004187,-0.219650,-0.233654,-0.040646,...,-0.015580,-0.029652,-0.008075,-0.036158,-0.059778,0.056267,-0.013245,-0.016578,0.002378,0.002889
entrances_avg,0.022126,0.033691,-0.001732,0.080785,0.023522,-0.042343,-0.003698,-0.025258,-0.030041,-0.019965,...,0.002450,0.012074,0.001972,-0.012625,-0.026192,0.041039,0.009427,-0.006782,-0.006830,-0.008341
floorsmax_avg,0.072601,0.192970,0.001164,-0.017324,0.026771,-0.093973,0.007508,-0.190958,-0.210928,-0.061851,...,-0.010316,-0.025391,-0.009230,-0.050148,-0.073404,0.045856,-0.008888,-0.009037,-0.006787,-0.006883
livingarea_avg,0.064246,0.167519,0.011979,0.017065,0.029295,-0.097412,0.012868,-0.146032,-0.169599,-0.056621,...,-0.007353,-0.009976,-0.007172,-0.023493,-0.052542,0.064097,0.007203,-0.023466,-0.013303,-0.015757
nonlivingarea_avg,0.058916,0.076967,0.018078,-0.036693,0.002878,-0.073184,0.008825,-0.084714,-0.088587,-0.017357,...,-0.016425,-0.000866,-0.008747,-0.012508,-0.029994,0.008707,0.017546,0.006830,-0.013921,-0.010577
apartments_mode,0.041565,0.129740,0.004873,0.004192,0.012478,-0.069516,0.008788,-0.107642,-0.130912,-0.052523,...,-0.002440,-0.004112,-0.010365,-0.013886,-0.024715,0.039743,0.001777,-0.017218,-0.003228,-0.003934
basementarea_mode,0.035155,0.039294,0.005005,0.038500,0.021521,-0.021720,0.001236,-0.022644,-0.038186,-0.014054,...,-0.011713,-0.001996,-0.014362,-0.022271,-0.026741,0.015509,0.001705,-0.003821,-0.004117,-0.006987
years_beginexpluatation_mode,0.027309,-0.049934,0.006625,-0.127784,0.015984,-0.055614,0.000999,0.014960,0.019933,0.013764,...,-0.016956,-0.021116,0.002835,-0.021960,-0.025999,-0.019550,-0.006032,0.007112,-0.016728,-0.012740
elevators_mode,0.064621,0.175082,-0.002901,-0.005536,0.019852,-0.076990,0.007009,-0.203102,-0.217332,-0.038270,...,-0.015180,-0.029466,-0.012071,-0.031259,-0.056241,0.056877,-0.017250,-0.018971,0.006766,0.006760
entrances_mode,0.014009,0.015226,-0.003792,0.077265,0.022467,-0.040173,-0.005463,-0.001871,-0.007051,-0.015154,...,0.007463,0.014561,0.004725,-0.014813,-0.026384,0.038947,0.003903,-0.006279,0.001195,-0.001535
floorsmax_mode,0.068479,0.182576,0.003701,-0.019715,0.024577,-0.091499,0.008381,-0.177902,-0.198467,-0.061957,...,-0.009918,-0.024077,-0.010168,-0.049255,-0.072164,0.050671,-0.010242,-0.010000,-0.004030,-0.004272
livingarea_mode,0.053832,0.146870,0.011223,0.017373,0.027984,-0.092847,0.010100,-0.118402,-0.142346,-0.053468,...,-0.007534,-0.007279,-0.005723,-0.018886,-0.045066,0.062319,0.001859,-0.022581,-0.008938,-0.012213
nonlivingarea_mode,0.042245,0.043523,0.019115,-0.035581,0.005192,-0.062459,0.008467,-0.048143,-0.055703,-0.009605,...,-0.015389,0.004273,-0.005061,0.001062,-0.015197,-0.007842,0.014666,0.003410,-0.010475,-0.007402
apartments_medi,0.050288,0.146415,0.005804,0.003958,0.012953,-0.072865,0.011439,-0.127743,-0.151027,-0.054558,...,-0.002691,-0.006670,-0.012868,-0.018936,-0.032289,0.050225,0.003188,-0.019784,-0.005690,-0.005444
basementarea_medi,0.043875,0.069467,0.004523,0.043047,0.023529,-0.023919,0.001520,-0.055919,-0.069705,-0.016495,...,-0.010450,-0.002098,-0.019383,-0.027591,-0.034773,0.021456,0.005164,-0.003353,-0.008894,-0.010802
elevators_medi,0.068141,0.184349,-0.004246,-0.003163,0.020244,-0.075963,0.004187,-0.212925,-0.227527,-0.039781,...,-0.016539,-0.030565,-0.010702,-0.030611,-0.054727,0.054714,-0.014730,-0.017592,0.004477,0.005196
entrances_medi,0.021520,0.031443,-0.002164,0.081167,0.024120,-0.042784,-0.004120,-0.022382,-0.026768,-0.019955,...,0.003711,0.012043,0.003170,-0.013163,-0.025062,0.040249,0.009831,-0.005396,-0.007451,-0.008721
floorsmax_medi,0.072015,0.189226,0.001711,-0.017108,0.027056,-0.091550,0.007575,-0.186225,-0.205531,-0.061784,...,-0.010310,-0.025128,-0.010093,-0.049663,-0.073282,0.047296,-0.009412,-0.009303,-0.005675,-0.005886
livingarea_medi,0.063259,0.164886,0.011787,0.017152,0.028203,-0.095591,0.012798,-0.142559,-0.165913,-0.056687,...,-0.007143,-0.010000,-0.007244,-0.023693,-0.052096,0.062271,0.006534,-0.022901,-0.012486,-0.014970
nonlivingarea_medi,0.052156,0.069274,0.019857,-0.038611,0.002462,-0.068521,0.010092,-0.073198,-0.078528,-0.013649,...,-0.015881,-0.001806,-0.006502,-0.001637,-0.019667,0.001168,0.016425,0.005213,-0.013798,-0.010160
totalarea_mode,0.063443,0.161521,0.009561,0.010276,0.024012,-0.092203,0.009381,-0.140842,-0.162824,-0.059674,...,-0.009832,-0.005055,-0.008539,-0.014045,-0.036918,0.059364,0.010718,-0.019471,-0.011718,-0.013797
days_last_phone_change,-0.081613,-0.041617,-0.125389,-0.053219,-0.079343,-0.025138,-0.020325,0.012271,0.015378,0.042656,...,-0.147879,-0.265947,-0.004476,0.052581,0.078493,0.170415,-0.342358,0.066784,0.186370,0.165671
flag_document_3,0.128131,-0.061124,0.208617,-0.036832,-0.058075,0.041320,0.250439,0.067752,0.073114,0.002476,...,0.056840,0.059438,0.004285,0.010627,0.028078,0.005474,0.088135,-0.087040,-0.051848,-0.038484
amt_req_credit_bureau_day,0.006661,0.002078,-0.005122,0.006374,-0.002752,0.007629,-0.000222,-0.006055,-0.008326,0.005633,...,-0.008338,0.011201,-0.008147,-0.000582,-0.012590,-0.025852,0.016264,0.003167,-0.004647,-0.007020
amt_req_credit_bureau_week,-0.006591,-0.002336,-0.004918,0.001434,-0.001402,-0.013096,0.001912,-0.002516,-0.000407,-0.002348,...,0.029952,0.013290,-0.009203,-0.010229,-0.009443,-0.011451,-0.020556,-0.017562,0.028831,0.027575
amt_req_credit_bureau_mon,0.048367,0.050614,0.030865,0.001322,0.014914,-0.045239,0.026931,-0.044732,-0.041221,-0.001518,...,0.026082,0.042521,0.001206,-0.026275,-0.033599,0.008775,0.023070,-0.019905,0.013878,0.015795
amt_req_credit_bureau_year,-0.038963,0.008665,-0.011139,0.009038,0.043121,0.013875,-0.045131,0.009635,0.008453,0.003820,...,1.000000,0.416782,-0.001916,0.113867,0.100714,0.112422,-0.159396,-0.230870,0.232008,0.232389
sk_id_prev_count,0.041601,0.039775,0.039325,0.054560,0.091854,0.008394,-0.065362,0.010156,0.007481,-0.046387,...,0.416782,1.000000,-0.000898,-0.003714,-0.009065,-0.106320,0.371413,-0.093616,0.002626,-0.001903
amt_credit_sum_overdue_sum,-0.010043,-0.006726,0.005121,-0.004932,-0.003519,0.018102,0.007598,0.011722,0.013565,-0.003802,...,-0.001916,-0.000898,1.000000,0.030160,0.031553,0.005145,0.000825,0.007046,-0.001364,-0.005449
amt_drawings_atm_current_avg_avg,-0.035762,-0.025391,-0.030921,-0.014965,-0.038121,0.010357,0.008353,-0.005878,-0.003302,0.001571,...,0.113867,-0.003714,0.030160,1.000000,0.896801,0.083392,-0.174750,-0.099613,0.205191,0.076613
cnt_drawings_atm_current_avg_avg,-0.089573,-0.038781,-0.030179,-0.013628,-0.038340,0.032044,0.020702,0.008881,0.013613,0.007898,...,0.100714,-0.009065,0.031553,0.896801,1.000000,0.119681,-0.184467,-0.087879,0.226109,0.094067
cnt_drawings_pos_current_avg_avg,-0.030961,-0.030273,-0.032775,-0.104054,-0.132396,-0.096581,0.136163,0.016453,0.012269,0.085859,...,0.112422,-0.106320,0.005145,0.083392,0.119681,1.000000,-0.369188,-0.158743,0.340416,0.164184
prev_days_decision_avg,0.094420,0.060199,0.106152,0.064345,0.097782,0.036131,0.010728,-0.022617,-0.023591,-0.049187,...,-0.159396,0.371413,0.000825,-0.174750,-0.184467,-0.369188,1.000000,-0.027710,-0.599283,-0.540485
prev_days_first_drawing_avg,-0.047868,-0.006640,-0.038205,0.011963,0.020484,-0.007887,-0.047803,0.018976,0.017052,-0.010067,...,-0.230870,-0.093616,0.007046,-0.099613,-0.087879,-0.158743,-0.027710,1.000000,-0.178060,-0.320895
prev_days_last_due_avg,-0.095807,-0.032844,-0.064111,0.004818,-0.048576,-0.020093,-0.039708,0.019408,0.020509,0.007670,...,0.232008,0.002626,-0.001364,0.205191,0.226109,0.340416,-0.599283,-0.178060,1.000000,0.925842
prev_days_termination_avg,-0.084267,-0.032631,-0.055784,0.003694,-0.038591,-0.010942,-0.035537,0.018411,0.020130,0.008742,...,0.232389,-0.001903,-0.005449,0.076613,0.094067,0.164184,-0.540485,-0.320895,0.925842,1.000000

In [15]:
# identify high correlated feature pairs
# this will helps in feature reduction that could improve our model performance later
# set threshold to 0.7 as starting point as it also commonly used in practice
columns = correlation_matrix.columns
high_corr_list = []
threshold = 0.7

# loop thru the correlation matrix and find pairs of features with a correlation coeeficient greater than 0.7
for i in range(len(columns)-1):
    for j in range(i+1, len(columns)):
        if abs(correlation_matrix.iloc[i, j]) > threshold:
            high_corr_list.append({"x":[columns[i]], "y":[columns[j]]})


high_corr_pairs = pd.DataFrame(high_corr_list)

# display
high_corr_pairs.head()

                        x                              y
0  [region_rating_client]  [region_rating_client_w_city]
1        [apartments_avg]                [floorsmax_avg]
2        [apartments_avg]               [livingarea_avg]
3        [apartments_avg]              [apartments_mode]
4        [apartments_avg]               [floorsmax_mode]

In [16]:
# identify features that need to be removed by compares the IV of the two features
var_to_remove = []

# loop thru the high_corr_pairs
for i, row in high_corr_pairs.iterrows():
    # if the IV row[x] greater than the IV of the feature row[y], remove the feature row[y] considered it less informative since its IV is lower
    if ivs[row["x"][0]] > ivs[row["y"][0]]:
        var_to_remove.append(row["y"])
    # if IV feature row[y] greater or if the IV are equal, return feature row[x]
    else:
        var_to_remove.append(row["x"])

# create a unique list of variables to remove
var_to_remove = list(np.unique(var_to_remove))

# display result
var_to_remove

['amt_drawings_atm_current_avg_avg',
 'apartments_avg',
 'apartments_medi',
 'apartments_mode',
 'basementarea_avg',
 'basementarea_medi',
 'basementarea_mode',
 'elevators_avg',
 'elevators_medi',
 'elevators_mode',
 'entrances_avg',
 'entrances_mode',
 'floorsmax_avg',
 'floorsmax_medi',
 'livingarea_avg',
 'livingarea_medi',
 'livingarea_mode',
 'nonlivingarea_medi',
 'nonlivingarea_mode',
 'prev_days_termination_avg',
 'region_rating_client_w_city',
 'totalarea_mode']

In [18]:
application_initial_filter.head()

,id,credit_event,name_contract_type,amt_credit,name_income_type,name_education_type,region_population_relative,days_employed,days_registration,days_id_publish,...,amt_req_credit_bureau_year,sk_id_prev_count,amt_credit_sum_overdue_sum,amt_drawings_atm_current_avg_avg,cnt_drawings_atm_current_avg_avg,cnt_drawings_pos_current_avg_avg,prev_days_decision_avg,prev_days_first_drawing_avg,prev_days_last_due_avg,prev_days_termination_avg
0,288213,0,Cash loans,953460.0,Commercial associate,Secondary / secondary special,0.046220,116,4106.0,912,...,0.0,14.0,0.0,NaN,NaN,NaN,933.666667,365243.0,-1176.000000,-1170.000000
1,400317,0,Cash loans,284400.0,Pensioner,Secondary / secondary special,0.007020,-365243,13237.0,3346,...,5.0,96.0,NaN,NaN,NaN,NaN,1095.555556,365243.0,80502.333333,80507.222222
2,191384,0,Cash loans,454500.0,Pensioner,Secondary / secondary special,0.046220,-365243,425.0,1622,...,1.0,3.0,0.0,4809.375,0.3125,0.0,NaN,NaN,NaN,NaN
3,412414,0,Cash loans,900000.0,Working,Secondary / secondary special,0.010276,896,776.0,2544,...,2.0,35.0,0.0,NaN,NaN,NaN,1382.000000,365243.0,-1195.500000,-874.500000
4,429870,1,Cash loans,254700.0,Commercial associate,Secondary / secondary special,0.025164,1224,3112.0,201,...,0.0,10.0,0.0,NaN,NaN,NaN,169.250000,365243.0,365243.000000,365243.000000

In [20]:
# filter the applications dataframe by drop the less informative of each highly correlated features
final_application_features_filtered = application_initial_filter.drop(var_to_remove, axis=1)

# display it
final_application_features_filtered

,id,credit_event,name_contract_type,amt_credit,name_income_type,name_education_type,region_population_relative,days_employed,days_registration,days_id_publish,...,amt_req_credit_bureau_week,amt_req_credit_bureau_mon,amt_req_credit_bureau_year,sk_id_prev_count,amt_credit_sum_overdue_sum,cnt_drawings_atm_current_avg_avg,cnt_drawings_pos_current_avg_avg,prev_days_decision_avg,prev_days_first_drawing_avg,prev_days_last_due_avg
0,288213,0,Cash loans,953460.0,Commercial associate,Secondary / secondary special,0.046220,116,4106.0,912,...,0.0,0.0,0.0,14.0,0.0,NaN,NaN,933.666667,365243.0,-1176.000000
1,400317,0,Cash loans,284400.0,Pensioner,Secondary / secondary special,0.007020,-365243,13237.0,3346,...,0.0,0.0,5.0,96.0,NaN,NaN,NaN,1095.555556,365243.0,80502.333333
2,191384,0,Cash loans,454500.0,Pensioner,Secondary / secondary special,0.046220,-365243,425.0,1622,...,0.0,0.0,1.0,3.0,0.0,0.3125,0.0,NaN,NaN,NaN
3,412414,0,Cash loans,900000.0,Working,Secondary / secondary special,0.010276,896,776.0,2544,...,0.0,0.0,2.0,35.0,0.0,NaN,NaN,1382.000000,365243.0,-1195.500000
4,429870,1,Cash loans,254700.0,Commercial associate,Secondary / secondary special,0.025164,1224,3112.0,201,...,0.0,0.0,0.0,10.0,0.0,NaN,NaN,169.250000,365243.0,365243.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23999,407577,0,Cash loans,278712.0,Pensioner,Secondary / secondary special,0.020713,-365243,12485.0,568,...,NaN,NaN,NaN,21.0,NaN,NaN,NaN,444.000000,365243.0,182411.000000
24000,275756,0,Cash loans,601470.0,Commercial associate,Secondary / secondary special,0.031329,596,5548.0,2383,...,0.0,0.0,1.0,5.0,0.0,0.0000,0.0,1297.000000,365243.0,-1201.000000
24001,376333,0,Revolving loans,180000.0,Commercial associate,Higher education,0.031329,2716,404.0,3421,...,0.0,0.0,4.0,19.0,0.0,NaN,NaN,238.800000,365243.0,182534.750000
24002,305520,0,Cash loans,780363.0,Working,Secondary / secondary special,0.018029,4392,2980.0,1710,...,0.0,0.0,1.0,21.0,0.0,NaN,NaN,954.666667,365243.0,181750.000000
24003,110191,0,Cash loans,382500.0,Commercial associate,Higher education,0.046220,162,4303.0,1902,...,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [21]:
final_application_features_filtered.to_csv("../datasets/preprocessed/application_correlation_filtered.csv", index=False)